<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Advertistments</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="company">
    <header>
        <div class="container">
            <div class="header-item">
                <div class="colleft">
                    <div class="logo"><img src="image/logo.png" alt="logo" title="logo"></div>
                </div>
                <div class="colright">

                    <a href="dashboard-sales.html">
                        <h3>Logout</h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard">
        <div class="dashboard-left">
            <ul>
              
                    <li>  <a  href="dashboard-sales.html">
                        Dashboard

                </a>
            </li>
            <li class="active">  <a  href="add-form.html">
                
Form
        </a>
    </li>
    <li>  <a  href="listing.html">
 List
                </a>
            </li>
            </ul>
        </div>
        <div class="dashboard-right">
            <div class="dashboard-title">
                <h2>Add User </h2>
            </div>
            <div class="ads-form">
                <form>
                    <div class="input-grid">
                        <div class="form-input">
                            <label for="From">From</label>
                            <input type="text" placeholder="From">
                        </div>
                        <div class="form-input">
                            <label for="To">To</label>
                            <input type="text" placeholder="To">
                        </div>

                    </div>
                    <div class="input-grid">
                        <div class="form-input">
                            <label for="Arrival Date">Arrival Date</label>
                            <input type="date" placeholder="Arrival Date">
                        </div>
                        <div class="form-input">
                            <label for="Departure Date">Departure Date</label>
                            <input type="date" placeholder="Departure Date">
                        </div>

                    </div>
                    <div class="input-grid">
                        <div class="form-input">
                            <label for="Arrival Time">Arrival Time</label>
                            <input type="Arrival Time" placeholder="Arrival Time">
                        </div>
                        <div class="form-input">
                            <label for="Departure Time">Departure Time</label>
                            <input type="Time" placeholder="Departure Time">
                        </div>

                    </div>
                    <div class="form-input">
                        <label for="Description">Description </label>
                        <textarea name="description" id="description" placeholder="Description"></textarea>
                    </div>
                    <div class="submit"> <button class="btn-submit">Submit</button></div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>