<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejected Advertisements</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="moderators">
    <header>
        <div class="container">
            <div class="header-item">
                <div class="colleft">
                    <div class="logo"><img src="image/logo.png" alt="logo" title="logo"></div>
                </div>
                <div class="colright">

                    <a href="dashboard-sales.html">
                        <h3>Logout</h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="flight-dashboard">
        <div class="dashboard-left">
            <ul>
                <a href="moderators-dashboard.html">
                    <i class="fa fa-home"></i>
                    <li>Dashboard</li>
                </a>

                <a class="active" href="rejected-ads.html">
                    <i class="fa fa-list"></i>
                    <li>Rejected List</li>
                </a>
                <a href="feedback-form.html">

                    <i class="fa fa-wpforms"></i>
                    <li>Rejected Form</li>
                </a>
                <a href="change-pass.html">

                    <i class="fa fa-key"></i>
                    <li>Change Password</li>
                </a>
            </ul>
        </div>
        <div class="dashboard-right">
            <div class="dashboard-title">
                <h2>Approved Advertisements</h2>
            </div>
            <div class="ads-table">
                <table>
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>Arrival Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>London</td>


                            <td>Toronto</td>


                            <td>12 April 2023</td>
                            <td>10:00 PM</td>

                            <td>
                                <a href="approved-list.html" class="btn btn-edit">Edit</a><button class="btn btn-submit">Delete</button></td>

                        </tr>
                        <tr>
                            <td>Sydney</td>


                            <td>New York</td>


                            <td>15 April 2023</td>
                            <td>08:00 AM</td>
                            <td>
                                <a href="approved-list.html" class="btn btn-edit">Edit</a><button class="btn btn-submit">Delete</button></td>

                        </tr>
                        <tr>
                            <td>New York</td>


                            <td>London</td>


                            <td>18 April 2023</td>
                            <td>05:00 PM</td>


                            <td>
                                <a href="approved-list.html" class="btn btn-edit">Edit</a><button class="btn btn-submit">Delete</button></td>

                        </tr>
                        <tr>
                            <td>Toronto</td>


                            <td>Sydney</td>


                            <td>19 April 2023</td>
                            <td>02:00 PM</td>


                            <td>
                                <a href="approved-list.html" class="btn btn-edit">Edit</a><button class="btn btn-submit">Delete</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li>
                        <a href="rejected-ads.html"><i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li>
                        <a class="active" href="rejected-ads.html">1</a>
                    </li>
                    <li>
                        <a href="rejected-ads.html">2</a>
                    </li>
                    <li>
                        <a href="rejected-ads.html">3</a>
                    </li>
                    <li>
                        <a href="rejected-ads.html"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>