<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Team Dashboard</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-item">
                <div class="colleft">
                    <div class="logo"><img src="image/logo.png" alt="logo" title="logo"></div>
                </div>
                <div class="colright">
                    <a href="dashboard-sales.html">
                        <h3>Logout</h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="flight-dashboard">
        <div class="dashboard-left">
            <ul>
              
                    <li>  <a class="active" href="dashboard-sales.html">
                        <i class="fa fa-home"></i>Dashboard

                </a>
                /li>
                <a href="add-filghts.html">

                    <i class="fa fa-table"></i>

                    <li>Add Advertisements</li>
                </a>
                <a href="view-ads.html">

                    <i class="fa fa-list"></i>

                    <li>View Advertisements</li>
                </a>
                <a href="change-pass.html">

                    <i class="fa fa-key"></i>

                    <li>Change Password</li>
                </a>

            </ul>
        </div>
        <div class="dashboard-right">
            <div class="dashboard-title">
                <h2>Sales Team </h2>
            </div>
            <div class="ads-wrap">
                <div class="add-box">
                    <div class="add-info">
                        <h4>Pending Advertisements</h4>
                        <span>2</span></div>
                </div>
                <div class="add-box">
                    <div class="add-info">
                        <h4>Under Review</h4>
                        <span>5</span></div>
                </div>
                <div class="add-box">
                    <div class="add-info">
                        <h4>Rejected Advertisements</h4>
                        <span>1</span></div>
                </div>
                <div class="add-box">
                    <div class="add-info">
                        <h4>Approved Advertisements</h4>
                        <span>30</span></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>