<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-item">
                <div class="colleft">
                    <div class="logo"><img src="image/logo.png" alt="logo" title="logo"></div>
                </div>
                <div class="colright">
                    <a href="moderators-dashboard.html">
                        <h3>Logout</h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="login">
      <div class="col-md-6">
        <div class="image">
            <img src="image/login.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="login_form">
        <form>
            <h2>Login</h2>
            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username">
            </div>
            <div class="form-input">
                <label for="Password">Password</label>
                <input type="text" placeholder="Enter Password">
            </div>
            <div class="submit"><button class="btn-submit">Login</button></div>
            <p>
                Don't Have an Account?
                <a href="register.html">Register</a>
            </p>
        </form>
    </div>
    <footer>
        <p>© 2023 | All rights reserved.</p>
    </footer>

</body>

</html>